<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Dietary Restriction: ' + dietary.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="recipe-listing">
    <p th:text="${'Name: ' + dietary.name}"></p>
    <p th:text="${'Description: ' + dietary.description}"></p>
    <p> Recipes:
        <ul>
            <li th:each="recipe : ${dietary.recipes}">
                <a th:href="@{'/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
            </li>
        </ul>
    </p>
</div>